<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header style="text-align: center;">
        <h1>Type Face's Restaurant Finder</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer style="text-align: center;">
        <p>&copy; Developed by Karthik P S 2024 Restaurant Finder</p>
    </footer>
</body>
</html>

